 /*********************************************************************************************
Description: Apollo Hospitals - Ahmedabad. - Master Stylesheet
URL : http://apolloahd.com/
Author: Mahesh Usadadiya (umndesigner)
Author URI: www.webmantra.net, www.webmantracreations.com
**********************************************************************************************
Designed and Built by Mahesh Usadadiya (umndesigner) - www.webmantra.net, www.webmantracreations.com
CSS, HTML and Design Files are all Copyright 2013-2014 Webmantra. 
And God said "Let there be code..."
**********************************************************************************************/

/*
===========================
CONTENTS:
---------------------------
01 Defaults
02 Header
03 Navbar
04 Banner
05 Home Page Content Area
06 Testimonials
07 Footer
08 Inner Page
09 Find a Doctor
===========================*/

/* ---------------------------------------------------------------------------------------------------------- 
01 Defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
* 	{margin:0; padding:0;}
body{
	font-family: 'Belgrano', serif;
	font-size:14px;
	background:#FFF;
	margin:0px ;
	padding:0px;
	color:#677a83;	
	}
a img {border: none; outline:0px;}
a:link {
	color: #0484c0;
	text-decoration: none; 
	}	
a:visited {
	color: #0484c0;
	text-decoration: none;
	}
a:hover, a:active, a:focus { 
	color: #0484c0;
	text-decoration: none;
	}	
h1  {
	font-size:24px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	padding-bottom:7px;
	}
h2 {
	font-size:20px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	padding:5px 0px;
	}

h3 {
	font-size:30px;
	color:#677a83;
	font-family: 'Lobster', sans-serif;
	padding: 0 0 10px 0;
	}
p  {line-height:140%;}

.clearfloat { 
	clear:both;
  	}
.left{float:left;}
.right{float:right;}


#toTop{
	background: url(../images/top.png) center 7px no-repeat #007d9e;
	position:fixed;
	width:30px;
	right:5px;
	bottom:5px;
	padding:25px 5px 5px 5px;
	text-align:center;
	font-family:'Roboto Condensed', sans-serif;
	font-size:15px;
	color:#FFF;
	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
#toTop:hover{
	background: url(../images/top.png) center 1px no-repeat #007d9e;
	color:#FFF;
	}
	
/* ---------------------------------------------------------------------------------------------------------- 
02 Header ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.wrapper {
	width:1001px;
	margin:0px auto;
	}
header{
	height:170px;
	position:relative;
	display:block;
	}
.logo {
	float:left;
	margin-left:27px;
	}
.rightlogo{
	float:right;
	margin:41px 0px 0px 0px;
	}
.rightlogo img{
	float:left;
	margin:0px 10px;
	}

/* ---------------------------------------------------------------------------------------------------------- 
03 Navbar ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
nav{
	width:1016px;
	height:64px;
	position:absolute;
	background:url(../images/navbg.png) left top no-repeat;
	z-index:21;
	left:-15px;
	bottom:-38px;
	}

/* ---------------------------------------------------------------------------------------------------------- 
04 Banner ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
#banner{
	width:100%;
        min-width:1001px;
	height:430px;
 	}

/* ---------------------------------------------------------------------------------------------------------- 
05 Home Page Content Area ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
#homepageContent{
	width:100%;
	background:url(../images/homepageBg.jpg) center top no-repeat;
 	}
#innerpageContent{
	width:100%;
	background:url(../images/innerbg.jpg) center top no-repeat;
 	}
.homepageLeft{
	float:left;
	width:465px;
	margin-top:20px;
 	}
.homepageLeft .head{
	float:left;
	width:220px;
	height:57px;
	font-size:24px;
	color:#007d9e;
	font-family:'Roboto Condensed', sans-serif;
	background:#FFF;
	padding:13px 13px 0px 13px;
	background:url(../images/aboutheadbg.jpg) right top repeat-y #FFF;
}
.homepageLeft .head p{
	line-height:20px;
	font-size:20px;
	color:#fdb813;
	font-family:'Roboto Condensed', sans-serif;
	margin:0px;
	padding:0px;
}
.homepageLeft .content{
	float:left;
	width:435px;
	height:335px;
	font-size:13px;
	color:#333;
	line-height:20px;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:31px 15px 30px 15px;
	-webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    2px 2px 2px rgba(50, 50, 50, 0.25);
	box-shadow:         2px 2px 2px rgba(50, 50, 50, 0.25);
	background:url(../images/aboutbg.jpg) right bottom no-repeat #FFF;
	}
.homepageLeft .content p{
	font-size:20px;
	line-height:24px;
	color:#333;
 	font-family:'Roboto Condensed', sans-serif;
	padding-bottom:10px;
	}
.homepageLeft .content p b{
	color:#007d9e;
	font-weight:normal;
	}
.readmorebtn{
	float:left;
	}
.readmorebtn a{
	display:block;
	background:url(../images/btnbg.png) left top no-repeat;
	width:110px;
	height:47px;
	font-size:16px;
	line-height:33px;
	color:#004e62;
 	font-family:'Roboto Condensed', sans-serif;
	text-align:center;

   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	}
.readmorebtn a:hover{
	color:#FFF;
 	background:url(../images/btnbg_h.png) left top no-repeat;
	}
.homepageRight{
	width:490px; 
	float:right; 
	margin:20px 0 0 0;
	}
.whatsnewBlock{
	width:490px;
	position:relative;
 	background:url(../images/whatnewBg.jpg);
	background-position:18px 28px;
	background-repeat:no-repeat;
	}
.whatsnewBlock .innerholder{
	float:left;
	width:467px;
	position:relative;
 	background:#FFF;
	padding:0px 0px 32px 0px;
	margin:0px 0px 7px 0px;
	}
.whatsnewBlock .head{
	position:relative;
	line-height:57px;
	font-size:24px;
	color:#007d9e;
	font-family:'Roboto Condensed', sans-serif;
	background:#FFF;
	padding:0px 15px 0px 15px;
	background:#FFF;
	border-bottom:solid 1px #EEE;
	}
.whatsnewBlock ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.whatsnewBlock ul li{
	line-height:56px;
	border-bottom:solid 1px #EEE;
	}
.whatsnewBlock ul li a{
	display:block;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#007d9e;
	padding:0px 35px 0px 20px;
	background:url(../images/whatnewarow.jpg) right top no-repeat #FFF;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	}
.whatsnewBlock ul li a:hover{
	background:url(../images/whatnewarow.jpg) right top no-repeat #e5f9fe;
	}
	 
.readallbtn{
	position:absolute;
	left:42px;
	bottom:-28px;
	}
.readallbtn a{
	display:block;
	background:url(../images/btnbg.png) left top no-repeat;
	width:110px;
	height:47px;
	font-size:16px;
	line-height:33px;
	color:#004e62;
 	font-family:'Roboto Condensed', sans-serif;
	text-align:center;

   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	}
.readallbtn a:hover{
	color:#FFF;
 	background:url(../images/btnbg_h.png) left top no-repeat;
	}
.homebox{
	float:left;
	width:490px;
	margin-top:28px;
	}
.homeboxbttom{
	float:left;
	width:1001px;
	margin:25px 0px;
	}
	
	
	
.readallbtn2{
	position:absolute;
	left:18px;
	bottom:-2px;
	z-index:999;
	}
.readallbtn2 a{
	display:block;
	background:url(../images/btnbg.png) left top no-repeat;
	width:110px;
	height:47px;
	font-size:16px;
	line-height:33px;
	color:#004e62;
 	font-family:'Roboto Condensed', sans-serif;
	text-align:center;

   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	}
.readallbtn2 a:hover{
	color:#FFF;
 	background:url(../images/btnbg_h2.png) left top no-repeat;
	}
	

/* ---------------------------------------------------------------------------------------------------------- 
06 Testimonials ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

#testimonials{
	position:relative;
	width:1001px;
	height:129px;
	padding:0px 0px 35px 0px;
	margin-bottom:50px;
	background:url(../images/testimonials_bg.png) left top no-repeat;
 	}
			

/* ---------------------------------------------------------------------------------------------------------- 
07 Footer ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
footer {
	width:100%;
	min-width:1001px;
	background:#004e62;
	}
footer .innerholder{
	width:1001px;
	margin:0px auto;
	padding:22px 0px;
	}
footer .footerblock{
	float:left;
	width:18%;
	margin:0px 10px;
	}
footer .footerblock ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
footer .footerblock li{
	line-height:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	}
footer .footerblock li a{
	line-height:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	}
footer .footerblock li a:hover{
	color:#fdb813;
	}
footer .footerblock li p{
	line-height:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	font-weight:bold;
	}
footer .footerblock li p a{
	line-height:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	font-weight:bold;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	}
footer .footerblock li p a:hover{
	color:#fdb813;
	}
.yellowblock{
	width:100%;
	background:#fdb813;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:40px;
	color:#FFF;
	float:left;
	}
.yellowblock .innerholder{
	margin:0px auto;
	padding:0px 10px;
	width:981px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:40px;
	color:#FFF;
	}
.yellowblock .wcpl{
	float:right;
	font-weight:normal;
	}
.yellowblock .wcpl img{
	vertical-align:middle;
	margin-left:10px;
	}
	
#controls_left {
	float:left;
	margin-left:100px;
	margin-top:6px;
	overflow:hidden;
	}
.fb{
	float:left;
	margin:0px 7px;
 	}
.fb a{
	display:block;
	width:30px;
	height:30px;
	background:url(../images/fb.png) right top no-repeat;
	}
.fb a:hover{
	display:block;
	width:30px;
	height:30px;
	background:url(../images/fb_ho.png) right top no-repeat;
	}
.twitter{
	float:left;
	margin:0px 7px;
 	}
.twitter a{
	display:block;
	width:30px;
	height:30px;
	background:url(../images/twitter.png) right top no-repeat;
	}
.twitter a:hover{
	display:block;
	width:30px;
	height:30px;
	background:url(../images/twitter_ho.png) right top no-repeat;
	}

.youtube{
	float:left;
	margin:0px 7px;
 	}
.youtube a{
	display:block;
	width:30px;
	height:30px;
	background:url(../images/youtube.png) right top no-repeat;
	}
.youtube a:hover{
	display:block;
	width:30px;
	height:30px;
	background:url(../images/youtube_ho.png) right top no-repeat;
	}

	
/* ---------------------------------------------------------------------------------------------------------- 
08 Inner Page Content Area ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
#innerpageContent{
	width:100%;
	background:url(../images/innerbg.jpg) center top no-repeat;
 	}
.pagepath{
	float:left;
	width:971px;
	margin:40px 15px 11px 15px;
	}
.pagepath ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.pagepath ul li{
	float:left;
	padding:0px 3px;
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	color:#007d9e;
	font-size:13px;
	}
.pagepath ul li a{
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	color:#007d9e;
	font-size:13px;
	}
.pagepath ul li img{ padding:0px 5px 0px 0px;}
.pagepath ul li a:hover{color:#fdb813;}
.pagepath ul li b{font-weight:bold;}
.pagepath ul li span {color:#fdb813;}

.pagehead{
	float:left;
	width:966px;
	margin:0px 0px 4px 35px;
	font-size:48px;
	color:#007d9e;
	font-weight:100;
 	font-family:'Roboto Condensed', sans-serif;
 	}
.contentshedow{
 	margin:0px auto;
	width:950px;
	padding:15px;

	background:#FFF;
	-webkit-box-shadow: 0px 0px 6px rgba(190, 190, 190, 0.75);
	-moz-box-shadow:    0px 0px 6px rgba(190, 190, 190, 0.75);
	box-shadow:         0px 0px 6px rgba(190, 190, 190, 0.75);
	}
.contentshedow{
 	margin:0px auto;
	width:950px;
	padding:15px;

	background:#FFF;
	-webkit-box-shadow: 0px 0px 6px rgba(190, 190, 190, 0.75);
	-moz-box-shadow:    0px 0px 6px rgba(190, 190, 190, 0.75);
	box-shadow:         0px 0px 6px rgba(190, 190, 190, 0.75);
	}
.columnMaster{
	float:left;
	width:936px;
	padding:30px 7px;
	}
.columnLeft{
	float:left;
	width:626px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:20px;
        text-align:justify;
	}
.columnLeft p{
	font-size:20px;
	color:#333;
 	font-family:'Roboto Condensed', sans-serif;
	line-height:24px;
	padding:10px 0px 0px 0px;
	font-weight:normal;
	}
.columnLeft p b{
	color:#007d9e;
	font-weight:normal;
	}
	.columnLeft h4{
	font-size:13px;
	color:#007d9e;
	font-weight:bold;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:20px 0px 0px 0px;
	line-height:18px;
 	}
.ullist{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.ullist li{
	font-size:13px;
	color:#333;
 	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:4px 0px 4px 30px;
	background:url(../images/arrow_blue.png) 9px 9px no-repeat;
	}
.ullist p{
	font-size:13px;
	color:#007d9e;
	font-weight:bold;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:0px 0px 0px 0px;
 	}

#corporate_services_left ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

#corporate_services_left ul li{
	font-size:13px;
	color:#333;
 	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:4px 0px 4px 30px;
	background:url(../images/arrow_blue.png) 9px 9px no-repeat;
}

#corporate_services_left  p{
	font-size:13px;
	color:#333333;
	line-height:20px;
	font-weight:normal;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:0px 0px 0px 0px;
}


#corporate_services_left  h3{
	font-size:13px;
	color:#007d9e;
	font-weight:bold;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:0px 0px 0px 0px;
 	}
	

#corporate_services_left  h2{
	font-size:24px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
 	padding:0px 0px 0px 0px;
	padding-bottom: 7px;
 	}

		
#medicallist ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
#medicallist ul li{
	font-size:13px;
	color:#333;
 	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:4px 0px 4px 30px;
	background:url(../images/arrow_blue.png) 9px 9px no-repeat;
	}
#medicallist  p{
	font-size:13px;
	color:#333333;
	line-height:20px;
	font-weight:normal;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:0px 0px 0px 0px;
 	}


#medicallist  h3{
	font-size:13px;
	color:#007d9e;
	font-weight:bold;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:0px 0px 0px 0px;
 	}
	

#medicallist  h2{
	font-size:24px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
 	padding:0px 0px 0px 0px;
	padding-bottom: 7px;
 	}
		
		

#news_detail  p{
	font-size:13px;
	color:#333333;
	line-height:20px;
	font-weight:normal;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:0px 0px 0px 0px;
 	}



#news_detail  h3{
	font-size:10px;
	color:#007d9e;
	font-weight:bold;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:0px 0px 0px 0px;
 	}
	
	
#news_detail  h3{
	font-size:13px;
	color:#007d9e;
	font-weight:bold;
 	font-family:Arial, Helvetica, sans-serif;
 	padding:0px 0px 0px 0px;
 	}
	

#news_detail  h2{
	font-size:24px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
 	padding:0px 0px 0px 0px;
	padding-bottom: 7px;
 	}
			
	
.visionBlock{
	float:left;
	width:606px;
	background:#d2f1fc;
	padding:10px;
	margin:30px 0 0;
	}
.visionBlock p{
	padding:0px;
 	font-family:'Roboto Condensed', sans-serif;
	font-size:20px;
	color:#007d9e;
	}
.visionBlock span{
	padding:10px 0px;
 	font-family:'Roboto Condensed', sans-serif;
	font-size:16px;
	color:#007d9e;
	display:block;
	font-weight:100;
	}
.columnRight{
	float:right;
	width:280px;
	}
.chairmansVisionBox{
	float:left;
	width:280px;
	margin:30px 0px 0px;
	}
.chairmansVisionBox .head{
	display:block;
 	font-family:'Roboto Condensed', sans-serif;
	font-size:20px;
	color:#333;
	padding-bottom:10px;
	}
.chairmansVisionBox .name{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#007d9e;
	padding:4px 8px 8px 8px;
	border-bottom:solid 4px #fdb813;
	}
.chairmansVisionBox .name b{
	font-weight:bold;
	line-height:25px;
	}
.readmorebtn_about{
	display:block;
	}
.readmorebtn_about a{
	float:right;
	line-height:30px;
	font-size:13px;
	font-weight:bold;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/plusico.png) right center no-repeat;
	margin-top:7px;
	padding:0px 30px 0px 10px;
	
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 75px;
	-webkit-border-top-right-radius: 75px;
	border-top-right-radius: 75px;
	-moz-border-radius-bottomright: 75px;
	-webkit-border-bottom-right-radius: 75px;
	border-bottom-right-radius: 75px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;

	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	
	}
.readmorebtn_about a:hover{
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 75px;
	-webkit-border-top-right-radius: 75px;
	border-top-right-radius: 75px;
	-moz-border-radius-bottomright: 75px;
	-webkit-border-bottom-right-radius: 75px;
	border-bottom-right-radius: 75px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background:url(../images/plusico.png) right center no-repeat #0a82a1;
	color:#FFF;
	}

/* ---------------------------------------------------------------------------------------------------------- 
09 Find a Doctor ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.find_a_doctor{
	float:left;
	width:606px;
	background:#d2f1fc;
	padding:10px;
	margin:0px 0 0;
	}
.find_a_doctor p{
	padding:0px;
 	font-family:'Roboto Condensed', sans-serif;
	font-size:16px;
	line-height:20px;
	font-weight:400;
	color:#333;
	}
.find_a_doctor span{
	padding:10px 0px;
 	font-family:'Roboto', sans-serif;
	font-size:16px;
	color:#007d9e;
	display:block;
	font-weight:400;
	}
.find_a_doctor .find{
	float:left;
	width:584px;
	border:solid 1px #ccc;
	background:#FFF;
	padding:10px;
	margin:10px 0 0;
	}
.find_a_doctor .find label{
 	padding:5px;
 	font-family:'Roboto', sans-serif;
	font-size:13px;
	color:#007d9e;
	}
.find_a_doctor .findtextfilde{
	float:left;
	margin:5px 0px;
	background:#85cce2;
	padding:5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:2px;
	border:solid 1px #68b6ce;
	}
.find_a_doctor .findtextfilde select{
	float:left;
 	padding:7px 8px;
	width:316px;
 	font-family:'Roboto', sans-serif;
	font-size:13px;
	color:#007d9e;
	border:none;
	}
.find_a_doctor .findtextfilde input{
	float:left;
	width:300px;
	padding:8px;
 	font-family:'Roboto', sans-serif;
	font-size:13px;
	color:#007d9e;
	border:none;
	}
.find_a_doctor .findtextfilde a{
	float:left;
	width:50px;
	line-height:31px;
	text-align:center;
  	font-family:'Roboto', sans-serif;
	font-size:13px;
	color:#FFF;
	background:#007d9e;
	margin:0px 0px 0px 3px;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	}
.find_a_doctor .findtextfilde a:hover{
	background:#fdc234;
	}
.findDR_right{
	float:left;
	width:268px;
	border:solid 1px #85cce2;
	background:#b6e7f9;
	padding:0px 5px 5px 5px;
	}
.findDR_right label{
 	padding:5px;
 	font-family:'Roboto', sans-serif;
	font-size:13px;
	color:#007d9e;
	}
.findDR_right .findtextfilde{
	float:left;
	margin:15px 0px 0px 0px;
	background:#85cce2;
	padding:5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:2px;
	border:solid 1px #68b6ce;
	}
.findDR_right .findtextfilde select{
	float:left;
 	padding:7px 8px;
	width:216px;
 	font-family:'Roboto', sans-serif;
	font-size:13px;
	color:#007d9e;
	border:none;
	}
.findDR_right .findtextfilde input{
	float:left;
	width:200px;
	padding:8px;
 	font-family:'Roboto', sans-serif;
	font-size:13px;
	color:#007d9e;
	border:none;
	}
.findDR_right .findtextfilde a{
	float:left;
	width:35px;
	line-height:31px;
	text-align:center;
  	font-family:'Roboto', sans-serif;
	font-size:13px;
	color:#FFF;
	background:#007d9e;
	margin:0px 0px 0px 3px;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	}
.findDR_right .findtextfilde a:hover{
	background:#fdc234;
	}
ul.searchdoctorlist{
	margin:0px;
	padding:0px;
	list-style:none;
	}
ul.searchdoctorlist li{
	display:block;
	padding:10px;
	background:#d2f1fc;
	margin:0px 0px 15px 0px;

	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
ul.searchdoctorlist li:hover{
	background:#85cce5;
	}
ul.searchdoctorlist li .photo{
	float:left;
	border:solid 4px #FFF;
	}
ul.searchdoctorlist li .photo img{
	float:left;
	width:90px;
	height:110px;
	}
.dr_detail{
	display:inline-block;
	margin-left:15px;
	width:475px;
	}
.specialization{
	display:block;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	color:#333;
	}
.viewDrProBtn{
	float:left;
	margin:10px 0 0;
	}
.viewDrProBtn a{
	padding:5px 10px;
	background:#fdb813;
	font-size:13px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
.viewDrProBtn a:hover{
	padding:5px 10px;
	background:#007d9e;
	font-size:13px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	}
.pagination{
	float:right;
	margin-bottom:10px;
   	}
.pagination a{
 	font-size:12px;
	color:#FFF;
	background:#007d9e;
	padding:2px 3px;
	margin:0px 0px;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
  	}
.pagination a:hover{
 	font-size:12px;
	color:#FFF;
	background:#fdb813;
   	}
.pagination .active{
 	color:#FFF;
	background:#fdb813;
  	} 
.pagination .next_prev_btn a{
 	font-size:12px;
	color:#FFF;
	background:#007d9e;
	padding:2px 5px;
	margin:0px 2px;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
  	}
.pagination .next_prev_btn a:hover{
	background:#fdb813;
  	}

.pagination .backbtn a{
 	font-size:13px;
	font-weight:bold;
	color:#007d9e;
	background:url(../images/back.png) left top no-repeat;
	padding:0px 5px 0px 15px;
	margin:0px 2px;
	-webkit-transition:color 0.3s ease-in-out;
	-moz-transition:color 0.3s ease-in-out;
    -ms-transition:color 0.3s ease-in-out;
    -o-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
  	}
.pagination .backbtn a:hover{
	color:#fdb813;
  	}
.dr_pro_top_block{
	float:left;
	width:606px;
	background:#d2f1fc;
	padding:10px;
	margin-bottom:20px;
	}
.dr_pro_top_block .photo{
	float:right;
	border:solid 4px #ccc;
	}
.dr_pro_top_block .photo img{
	float:left;
	width:120px;
	}
.dr_pro_block{
	float:left;
	width:47%;
	margin-right:6%;
	}
.dr_pro_block ul{
	margin:0px 0px 25px 0px;
	padding:0px;
	list-style:none;
	}
.dr_pro_block ul li{
	margin:0px;
	padding:4px 0px;
	display:block;
  	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	line-height:18px;
	text-align:justify;
	}
.dr_pro_block ul b{
	display:block;
  	font-family:'Roboto', sans-serif;
	font-size:16px;
	color:#007d9e;
	font-weight:normal;
	}
 .dr_pro_block .photo{
	float:right;
	border:solid 4px #ccc;
	margin:5px;
	}
.dr_pro_block .photo img{
	float:left;
	width:100px;
	height:100px;
	}

ul.whatsnew{
	margin:0px;
	padding:0px;
	list-style:none;
	}
ul.whatsnew li{
	display:block;
	padding:10px;
	background:#d2f1fc;
	margin:0px 0px 15px 0px;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
ul.whatsnew li:hover{
	background:#85cce5;
	}
ul.whatsnew li .photo{
	float:left;
	border:solid 4px #FFF;
	}
ul.whatsnew li .photo img{
	float:left;
	width:125px;
	height:125px;
	}
.whatsnew_detail{
	float:left;
	width:455px;
	margin-left:15px;
	}
.whatsnew h2{
	font-size:20px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	}
.whatsnew h2 a{
	font-size:20px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	}
.whatsnew h2 a:hover{
	color:#005d76;
 	}

.whatsnew_text{
	float:left;
	width:455px;
 	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#333;
	}
.whatsnew_date {
	float:left;
	width:455px;
 	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#007d9e;
	padding:4px 0px;
	font-weight:bold;
	}
.whatsnew_date b{
	float:left;
  	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	margin-right:5px;
	}
.right_newsevent_master{
 	display:block;
	background:#f0f0f0;
	margin-bottom:20px;
	}
.right_newsevent_head{
	display:block;
	background:#007d9e;
	padding:0px 10px 0px 10px;
	height:35px;
	}
.right_newsevent_head b{
	float:left;
	font-size:22px;
	color:#FFF;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	line-height:35px;
	}
.viewallbtn{
	float:right;
	height:35px;
	}
.viewallbtn a{
	display:block;
	line-height:35px;
	padding:0px 10px;
 	background:#fdb813;
	font-size:14px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
.viewallbtn a:hover{
 	background:#333;
	}
	
ul.right_newsevent{
	margin:0px;
	padding:0px;
	list-style:none;
	}
ul.right_newsevent li{
	display:block;
	font-size:15px;
	color:#333;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	padding:10px 10px;
	border-bottom:solid 1px #dbd8d8;
 	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
ul.right_newsevent li a{
	color:#777676;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	}
ul.right_newsevent li span{
	display:block;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#007d9e;
	padding:2px 0px;
	font-weight:bold;
	}
ul.right_newsevent li span b{
	color:#333;
	}
ul.right_newsevent li:hover{
	background:#d2f1fc;
	}
.newrightimg{
	float:right; margin:0px 0px 10px 10px;
	}
.download_attachment{
	float:left;
	}
.download_attachment a{
	display:block;
	font-weight:bold;
	color:#007d9e;
  	padding:5px 10px 5px 40px;
	background:url(../images/downloads3.png) left top no-repeat;
	-webkit-transition:color 0.5s ease-in-out;
	-moz-transition:color 0.5s ease-in-out;
    -ms-transition:color 0.5s ease-in-out;
    -o-transition:color 0.5s ease-in-out;
	transition:color 0.5s ease-in-out;
	}
.download_attachment a:hover{
	color:#fdb813;
	text-decoration:underline;
	}
.events_date {
	display:block;
  	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#007d9e;
	padding:4px 0px;
	font-weight:bold;
	}
.events_date b{
	float:left;
  	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	margin-right:5px;
	}
.event_schedule_date{
	float:left; 
	width:70px;
	}

.otherbtn{
	float:left;
	margin:0px 0px;
	}
.otherbtn a{
	display:block;
	font-weight:bold;
	color:#FFF;
 	background:#333;
 	padding:0px 10px 0px 10px;
	line-height:30px;
	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	}
.otherbtn a:hover{
	color:#FFF;
 	background:#007d9e;
	}
ul.socialzone{
	margin:0px;
	padding:0px;
	list-style:none;
	}
ul.socialzone li{
	float:left;
	padding:2px;
	background:#007d9e;
	margin:12px;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
ul.socialzone li img{
	float:left;
	width:180px;
	}
ul.socialzone li:hover{
	background:#fdb813;
	}
	
ul.download_page{
	margin:0px;
	padding:0px;
	list-style:none;
	}
ul.download_page li{
	display:block;
 	padding:10px 10px 10px 55px;
	background:url(../images/downloads4.png) 10px 14px no-repeat #f3f1f1;
	border-bottom:solid 1px #dcdcdc;
 	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}

ul.download_page li a{
	font-size:18px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	}
ul.download_page li:hover{
	background:url(../images/downloads4.png) 15px 14px no-repeat #d2f1fc;
	}
	
	
	
/* Client Testimonial */	
ul.testimonial{
	margin:0px;
	padding:0px;
	list-style:none;
	}
ul.testimonial li{
	display:block;
	margin:10px 0px 30px 0px;
	}
ul.testimonial li .testimonial_top {
	display:block;
	position:relative;
	height:16px;
	background:url(../images/testimonials1_top.jpg) left top no-repeat;
	}
ul.testimonial li .testimonial_middle {
	display:block;
	position:relative;
	padding:0px 20px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:20px;
	color:#333;
	font-style:italic;
	background:url(../images/testimonials1_middle.jpg) left top repeat-y;
	}
	

ul.testimonial li .testimonial_middle p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #333;
	font-style: italic;
	padding: 0px 0px 0px 0px;
	font-weight: normal;
}
	
	
ul.testimonial li .photo {
	position:absolute;
	right:20px;
	bottom:-10px;
	}
ul.testimonial li .photo img{
	width:75px;
	height:65px;
	border:solid 2px #007d9e;
	margin-left:10px;
	-moz-border-radius-topleft: 12px;
-webkit-border-top-left-radius: 12px;
 border-top-left-radius: 12px;
-moz-border-radius-bottomright: 12px;
-webkit-border-bottom-right-radius: 12px;
border-bottom-right-radius: 12px;

	}
ul.testimonial li .name{
	float:left;
	max-width:280px;
	padding:35px 0px 0px 60px;
 	font-family:'Roboto', sans-serif;
	font-size:18px;
	color:#007d9e;
	font-style:italic;
        text-align:left;
	}
ul.testimonial li .testimonial_bottom{
	display:block;
	position:relative;
	min-height:65px;
	background:url(../images/testimonials1_bottom.jpg) left top no-repeat;
	}

.careermatter {
    border-bottom:1px solid #FFF;
    display:block;
    margin:0px 0;
    padding:5px 2%;
    width:96%;
}
.matterFirst {
    color:#007d9e;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    font-weight:bold;
    width:30%;
}
.matterSecond {
    color:#333;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    text-align:center;
    width:5%;
}
.matterThird {
    color:#333;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    width:65%;
}
.apply_online{
	width:100%;
	margin:10px 0px;
float:left;
	}
.apply_online h1 {
	font-size:15px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	}
.textinput{
	width:480px;
	font-size:15px;
	color:#333;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	padding:5px 10px;
	border:solid 1px #c8eefc;
	background:#f4fcff;
	}
.textarea{
	width:480px;
	font-size:15px;
	color:#333;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	padding:5px 10px;
	border:solid 1px #c8eefc;
	background:#f4fcff;
	}


.in_house_facility{
	float:left;
	width:304px;
	background:#f0f0f0;
	margin-right:16px;
	}
.in_house_facility .head{
	display:block;
	background:#007d9e;
	height:89px;
	margin-bottom:15px;
	}
.in_house_facility .head img{
	float:left;
	padding:10px;
	}
.in_house_facility p{
	float:left;
 	font-size:18px;
	color:#FFF;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	padding:20px 0px 0px 0px;
	}
.in_house_facility p b{
	display:block;
	font-size:35px;
	color:#FFF;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	}
.in_house_facility_block{
	float:left;
	width:280px;
	margin:10px 10px;
	}
.in_house_facility_block img{
	float:left;
	width:280px;
	height:130px;
	border:solid 2px #FFF;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.2);
	}
.in_house_facility_block p{
	display:block;
 	font-family:'Roboto Condensed', sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:18px;
	color:#007d9e;
	margin:0px;
	padding:7px 10px 5px 10px;
	}
.in_house_facility_block p a{
 	font-family:'Roboto Condensed', sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:18px;
	color:#007d9e;
	}
.in_house_facility_block p a:hover{
	color:#333;
	}
ul.edu_left_menu {
	margin:0px;
	padding:0px;
	background:#f0f0f0;
	list-style:none;
	}
ul.edu_left_menu p{
 	padding:6px 10px;
	background:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#FFF;
	}
ul.edu_left_menu li{
 	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
 	color:#007D9E;
	line-height:18px;
	}
ul.edu_left_menu li p{
 	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
 	color:#007D9E;
	line-height:18px;
 	padding:7px 5px 7px 30px;
	display:block;
	font-weight:bold;
	border-bottom:solid 1px #e9e8e8;
	background:url(../images/arrow_blue.png) 10px 12px no-repeat;
	}
ul.edu_left_menu li a{
 	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
 	color:#007D9E;
	line-height:18px;
	border-bottom:solid 1px #e9e8e8;
 	padding:7px 5px 7px 30px;
	display:block;
	font-weight:bold;
	background:url(../images/arrow_blue.png) 10px 12px no-repeat;

 	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
ul.edu_left_menu .active{
	background:#dbd9d9;
	}
ul.edu_left_menu li a:hover{
 	color:#007D9E;
	border-bottom:solid 1px #e9e8e8;
	background:url(../images/arrow_blue.png) 14px 12px no-repeat #dbd9d9;
	}
ul.edu_left_menu ul{
	list-style:none;
}
ul.edu_left_menu ul li a{
 	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
 	color:#007D9E;
	line-height:18px;
	border-bottom:solid 1px #e9e8e8;
 	padding:4px 5px 4px 45px;
	display:block;
	font-weight:normal;
	background:url(../images/dot.png) 30px 9px no-repeat;

 	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
ul.edu_left_menu ul li a:hover{
 	color:#007D9E;
	background:url(../images/dot.png) 30px 9px no-repeat #dbd9d9;
	}
ul.inhousefacility{
	margin:0px;
	padding:0px;
	list-style:none;
	}
ul.inhousefacility li{
	display:block;
	padding:10px;
	background:#d2f1fc;
	margin:0px 0px 15px 0px;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	}
ul.inhousefacility li:hover{
	background:#85cce5;
	}
ul.inhousefacility li .photo{
	float:left;
	border:solid 4px #FFF;
	}
ul.inhousefacility li .photo img{
	float:left;
	width:200px;
	height:130px;
	}
.inhousefacility_detail{
	float:left;
	width:380px;
	margin-left:15px;
	}
.inhousefacility_detail h2{
	font-size:20px;
	color:#007d9e;
 	font-family:'Roboto Condensed', sans-serif;
	font-weight:normal;
	}
.left_logo{padding:10px 20px; display:block;}
.left_logoactive{ 
 	padding:10px 20px; 
	display:block;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
	background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
	background: -o-linear-gradient(0deg, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
	background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
	background: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
}
.photo_of_attraction_ahd{
	float:right;
	margin:15px 0px 10px 10px;
	
	}
.photo_of_attraction_ahd img{
	width:200px;
	height:100%;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	 border-top-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
 	}
.social_icon_clm {
    border:solid 1px #D0D0D5;
	border-right:none;
	background-color:#FFFFFF;
	float:right;
    position:fixed;
    right:0;
    top:315px;
    width:43px;
	z-index:999;
	padding:5px 0px;
	}
.social_icon_clm div{
	margin:5px 7px;
	}
.employee_login{
	float:left;
	position:relative;
	width:120px;
	}
.employee_login a{
	position:absolute;
	bottom:29px;
	left:-26px;
	display:block;
	padding:0px 10px 0px 30px;
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	background:url(../images/loginico.png) 10px center no-repeat #007d9e; 
	
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 8px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 8px rgba(0, 0, 0, 0.2);

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;

	}
.employee_login a:hover{
	background:url(../images/loginico.png) 10px center no-repeat #fdb813; 

	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 8px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 8px rgba(0, 0, 0, 0.2);
	}
.pro_listing {
    float: left;
    list-style: none outside none;
    width: 100%;
}
.pro_listing li {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 7px #e5e5e5;
    float: left;
    margin: 0px 13px 25px 13px;
    text-align: center;
    width: 29%;
	
	-webkit-transition: box-shadow 0.5s ease-in-out;
	-moz-transition: box-shadow 0.5s ease-in-out;
    -ms-transition: box-shadow 0.5s ease-in-out;
    -o-transition: box-shadow 0.5s ease-in-out;
	transition: box-shadow 0.5s ease-in-out;
}
.pro_listing li .imgdiv {
    height: 120px;
    overflow: hidden;
    width: 100%;
}
.pro_listing li .imgdiv * {
    vertical-align: middle;
}
.pro_listing li .imgdiv b {
    display: inline-block;
    height: 100%;
}
.pro_listing li .imgdiv img {
    max-width: 100%;
	max-width:160px;
}
.pro_listing li:hover {
    box-shadow: 0 0 15px #aae1f5;
}


#do_pr_det ul p{
margin: 0px;
padding: 4px 0px;
display: block;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color: #333;
line-height: 18px;
text-align: justify;	
}

.stent {}
.stent {
    position: relative;    
	padding:0px 0 15px 0;
}
.stent a{	
	display:inline-block;
	padding:5px 10px;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFF;	
	
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 8px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 8px rgba(0, 0, 0, 0.2);
	
	background:#007d9e; 

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;

	}
.stent a:hover{
	background:#fdb813; 
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 8px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 8px rgba(0, 0, 0, 0.2);
	}
.stent a span { display:block; text-decoration:underline; }